.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.text-gray {
  color: gray;
}

.weight-700 {
  font-weight: 700;
}

.column {
  flex-direction: column;
}

.invert-1 {
  filter: invert(1);
}

.invert-half {
  filter: invert(0.5);
}

.bg-gray {
  background-color: #121212;
  color: white;
}

.bg-black {
  background-color: black;
  color: white;
}

.rounded {
  border-radius: 8px;
}

.m-1 {
  margin: 5px 8px;
}

.p-1 {
  padding: 20px 25px;
}

.pointer {
  cursor: pointer;
}

.light-gray {
  color: #a7a7a7;
}

.invert-semi-half {
  filter: invert(0.7);
}

.relative {
  position: relative;
}

.index-11 {
  z-index: 11;
}

::-webkit-scrollbar {
  width: 5px;
  height: 15px;
  position: relative;
  right: 20%;
}

::-webkit-scrollbar-thumb {
  background: #d8d4d4;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 475px) {
  .m-1 {
    margin: 3px 5px;
  }
}
